@model IEnumerable<FlightInfo.Models.Plane>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (@ViewBag.IsAdmin)
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<form asp-action="Index" method="get">
    <div class="row">
        <div class="col col-2">
            <input type="text" class="form-control" name="SearchStringManufacturer" value="@ViewData["ManufacturerFilter"]" placeholder="Manufacturer" />
        </div>
        <div class="col col-2">
            <input type="text" class="form-control" name="SearchStringModel" value="@ViewData["ModelFilter"]" placeholder="Model" />
        </div>
        <div class="col col-2">
            <input type="number" class="form-control" name="SearchStringCapacity" value="@ViewData["CapacityFilter"]" placeholder="Capacity" />
        </div>
        <div class="col col-2">
            <input type="number" class="form-control" name="SearchStringCruiseSpeed" value="@ViewData["CruiseSpeedFilter"]" placeholder="Cruise Speed" />
        </div>
        <div class="col col-3">
            <input type="submit" class="btn btn-outline-info" data-toggle="tooltip" data-placement="top" value="Search" /> |
            <a asp-action="Index">Back to Full List</a>
        </div>
    </div>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CruiseSpeed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CruiseSpeed)
            </td>
            <td>
                @if (@ViewBag.IsAdmin)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
