@model IEnumerable<FlightInfo.Models.Flight>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (@ViewBag.IsAdmin)
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<form asp-action="Index" method="get">
    <div class="row">
        <div class="col col-2">
            <input type="text" class="form-control" name="SearchStringFlightNumber" value="@ViewData["FlightNumberFilter"]" placeholder="Flight Number" />
        </div>
        <div class="col col-2">
            <input type="date" class="form-control" name="SearchStringDepartureTime" value="@ViewData["DepartureTimeFilter"]" placeholder="Departure Time" />
        </div>
        <div class="col col-1">
            <input type="text" class="form-control" name="SearchStringOrigin" value="@ViewData["OriginFilter"]" placeholder="Origin" />
        </div>
        <div class="col col-1">
            <input type="text" class="form-control" name="SearchStringDestination" value="@ViewData["DestinationFilter"]" placeholder="Destination" />
        </div>
        <div class="col col-1">
            <input type="text" class="form-control" name="SearchStringPlane" value="@ViewData["PlaneFilter"]" placeholder="Plane" />
        </div>
        <div class="col col-3">
            <input type="submit" class="btn btn-outline-info" data-toggle="tooltip" data-placement="top" value="Search" /> |
            <a asp-action="Index">Back to Full List</a>
        </div>
    </div>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plane)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Origin.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plane.Model)
                </td>
                <td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (@ViewBag.IsAdmin)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
